.qr_code, .top_title, .bar_code{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.qr_code, .bar_code{
    margin-top: 5%;
    margin-bottom: 3%;
}
.next_button{
    position: absolute;
    width: 60%;
    left: 20%;
    margin-top: 8%;
}
.good_luck_button{
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: 8%;
}
.error-message{
    display: none;
    color: red;
}
.store-data{
    margin-top: 20%;
}
#user_code{
    text-align: center;
    font-size: 200%;
}
.qr_code, .bar_code, .next_button, .good_luck_button, .received_code, .user_exist{
    display: none;
}
